@use '../scss/mixin'as *;

.table-container {
    padding: 10px;
    width: 100%;
    overflow-y: auto;

    & &-table {
        border-spacing: 0;
        width: 100%;

        .table-tr {
            &:nth-child(even) {
                background-color: #212529;
            }

            &:nth-child(odd) {
                background-color: #2c3034;
            }

            &:last-child {
                .table-body {
                    border-bottom: 0;
                }
            }
        }

        .table-header,
        .table-body,
        .table-footer {
            width: 1%;
            white-space: nowrap;
            margin: 0px;
            padding: 0.5rem;
            color: white;
            border-bottom: 1px solid #303437;
            border-right: 1px solid #303437;

            &:last-child {
                border-right: 0;
            }
        }

        .table-header,
        .table-footer {
            background-color: #212529;
            border-bottom: 1px solid white;
        }
    }

}

.pagination-container {
    display: flex;
    width: 100%;

    .button-pagination {
        @include button(20px, 10px, 15px, 10px, 10px, white, #303437);
    }
}

.container-input-filter-table {
    padding: 10px;

    .input-filter-table {
        padding: 5px;
        width: 40%;
        border-radius: 10px;
        border: 1px solid black;
        height: 30px;
    }
}