@use '../scss/mixin'as *;

.table-container {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    overflow-y: auto;

    & &-table {
        border-spacing: 0;
        width: 100%;

        .table-tr {
            &:nth-child(even) {
                background-color: #212529;
            }

            &:nth-child(odd) {
                background-color: #2c3034;
            }

            &:last-child {
                .table-body {
                    border-bottom: 0;
                }
            }
        }

        .table-header,
        .table-body,
        .table-footer {
            width: 1%;
            white-space: nowrap;
            margin: 0px;
            padding: 0.5rem;
            color: white;
            border-bottom: 1px solid #303437;
            border-right: 1px solid #303437;

            &:last-child {
                border-right: 0;
            }
        }

        .table-header,
        .table-footer {
            background-color: #212529;
            border-bottom: 1px solid white;
        }
    }

}

.pagination-container {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 100%;
    justify-content: flex-end;

    .button-pagination {
        @include button(20px, 10px, 15px, 10px, 10px, white, #303437);
    }

    .input-container {
        width: 20%;
        margin-right: 5px;
        margin-left: 5px;

        @include breakpoint('sm') {
            margin-top: 15px;
            width: 10%;
        }

        .input-gotopage {
            height: 40px;
            width: 100%;
        }

        .select-page-size {
            margin-left: 5px;
            margin-right: 5px;
            padding: 0px;
            width: 100%;
            height: 40px;
        }
    }

    .pagination-component {
        width: 100%;
        justify-content: end;

        @include breakpoint('sm') {
            width: 70%;
        }

        @include breakpoint('md') {
            width: 58%;
        }

        @include breakpoint('lg') {
            width: 43%;
        }

        @include breakpoint('xl') {
            width: 33%;
        }

        @include breakpoint('2xl') {
            width: 30%;
        }
    }

}

.container-input-filter-table {
    padding: 10px;

    .input-filter-table {
        padding: 5px;
        width: 40%;
        border-radius: 10px;
        border: 1px solid black;
        height: 30px;
    }
}